.dugmeNazad{
    background-color: #3F220F;
    color: #ffffff;
}

.productCounter{
    background-color: transparent !important;
    color: white !important;	
	
}

/* pozadina */
.productCounter::part(input-field) {
    background-color: #3F220F;
}

/* zeleni krug*/
.productCounter::part(increase-button),
.productCounter::part(decrease-button){
    background-color: #74914c;
    color: white;
    border-radius: 50%;
    
    width: 17px;
    height: 17px;
	
	margin-left:5px;
	margin-right:5px;
	
    display: flex;
    align-items: center;
    justify-content: center;
	padding-bottom: 2px; 
   
}
/* broj*/
.productCounter input{
    color: white ;
}


vaadin-dialog-overlay.notif {
    --lumo-base-color: #204824;
}