/*
=== MAIN ALL ===
*/
html {
    --lumo-font-family: 'Roboto', sans-serif;
    --lumo-clickable-cursor: pointer;
}

/*
=== MASTER LAYOUT ===
*/
.master-layout-bg {
    background-color: #202020;
}

.master-button-active {
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #555555;
    border-radius: 10px;
    margin: 10px;
    width: 230px;
}

.master-button-not-active {
    display: flex;
    justify-content: center;
    color: #b3b3b3;
    background-color: #333333;
    border-radius: 10px;
    margin: 10px;
    width: 230px;
}

.master-header-title {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
}

.master-user-icon {
    background-color: #4a4a4a;
    color: #ffffff;
    width: 55px;
    height: 35px;
    border-radius: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.master-user-label {
    font-size: 12px;
    color: #b3b3b3;
}

.master-user-name {
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
}

.master-kontejner-user {
    gap: 10px;
}

.master-header {
    background-color: #202020;
    padding: 0 20px;
    border-bottom: 1px solid #333333;
    /*height: 75px;*/
    /*width:100%;*/
}

.master-nav {
    color: #ffffff;
    cursor: pointer;
}

.master-kontejner-nav {
    background-color: #202020;
    border-right: 1px solid #333333;
}

.master-labels {
    color: #ffffff;
}