/* =========================================
   1. GLOBAL VARIABLES & FONT -> MAIN ALL
========================================= */

/*[theme~='dark'] {*/
/*    --lumo-base-color: #202020; !* Definiše tamnu pozadinu za ceo Lumo sistem *!*/
/*}*/

html {
    --lumo-font-family: 'Roboto', sans-serif;
}

/* =========================================
   2. LOGIN PAGE (LoginView.java)
========================================= */
.login-screen {
    background-color: #202020; /* Pozadina celog ekrana za logovanje */
}

.icon-pc {
    width: 32px;
    height: 32px;
    color: white; /* Boja desktop ikonice pored naslova */
}

.login-title {
    text-align: center;
    width: 295px;
    color: white; /* Boja "ServeLogic CMS" naslova */
}

.login-form-box {
    width: 600px;
    border-radius: 15px; /* Zaobljene ivice bele kutije sa login formom */
    overflow: hidden; /* Osigurava da sadržaj ne "beži" van zaobljenih ivica */
    background-color: #202020;
}

/* Stilovi za elemente unutar same Vaadin Login komponente */
.login-form-box vaadin-button[slot="forgot-password"] {
    color: #fff; /* Bela slova za "Zaboravljena lozinka" */
    margin-left: 0;
}

.login-form-box vaadin-button[slot="submit"] {
    color: #000; /* Crna slova na belom dugmetu "Prijava" */
    background-color: #fff;
}

